.head{font-size: 24px;
	font-family: Helvetica, San-serif;
	background-color: BlanchedAlmond;
	text-align:center;
	}
.mainDetails{
	font-size: 16px;
	font-family: Helvetica,San-serif;
	background-color: BlanchedAlmond;
	text-align:center;
}
.personalSection{
	font-size: 16px;
	font-family: Helvetica,San-serif;
	background-color: BlanchedAlmond;
	text-align:center;
}
.jobExperience{
	font-size: 16px;
	font-family: Helvetica,San-serif;
	background-color: BlanchedAlmond;

}
.keySkills{
	font-size: 16px;
	font-family: Helvetica,San-serif;
	background-color: BlanchedAlmond;
	
}
.education{
	font-size: 16px;
	font-family: Helvetica,San-serif;
	background-color: BlanchedAlmond;
	
}

	

